@import url("https://fonts.googleapis.com/css?family=Amethysta");
:root {
  --sizing-fs-base: 12px;
  --sizing-ws-base: 1.5em;
  --sizing-lt-base: 3em;
  --sizing-fs-tablet: 14px;
  --sizing-fs-laptop: 16px;
  --sizing-fs-desktop: 18px;
  --sizing-fs-huge: 20px;
  --color-main-bgrd: #FFF;
  --color-main-text: #000;
  --color-main-link: #900;
  --color-basic-border: #000;
  --sizing-basic-border: 1px; }

* {
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font: 16px/1.5; }

/* Typography */
html {
  font: var(--sizing-fs-base)/1.5 "Amethysta", serif; }

@media (min-width: 600px) {
  html {
    font-size: var(--sizing-fs-tablet); } }

@media (min-width: 1260px) {
  html {
    font-size: var(--sizing-fs-laptop); } }

@media (min-width: 1420px) {
  html {
    font-size: var(--sizing-fs-desktop); } }

@media (min-width: 1660px) {
  html {
    font-size: var(--sizing-fs-huge); } }

p, ul, ol, dl, table {
  margin-bottom: var(--sizing-ws-base); }

ul, ol {
  padding-left: var(--sizing-ws-base); }

h1, h2, h3, h4, h5 {
  margin: 0 0 calc( var(--sizing-ws-base) / 3) 0; }

header {
  padding: 1rem;
  background: #444;
  color: #fff; }
  header .inner {
    align-items: center; }
  header a, header li {
    text-decoration: none; }
  header .site-header {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    align-items: center; }

.button {
  display: inline-block;
  border-radius: 0.3em;
  background: #00a;
  color: #eee;
  padding: 0.5em 1em; }

.button:hover {
  background: #00a;
  color: #fff; }

.button-primary {
  font-size: 1.1em;
  font-weight: bold; }

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

header a {
  color: #fff; }

header a:hover {
  color: #00a; }

header nav {
  margin-right: auto; }
  header nav ul {
    padding-top: 1.5rem;
    display: flex; }
  header nav li {
    list-style-type: none;
    padding: 0.5rem; }

#toggle-main-nav {
  display: none; }

#toggle-main-nav-button {
  display: none; }

footer {
  background: #444;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #00a; }
  footer nav ul {
    display: flex; }
  footer nav li {
    justify-content: right;
    list-style-type: none;
    padding: 0.5rem; }

.testimonials {
  padding: 2rem 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .testimonials li {
    display: block;
    list-style: none outside;
    text-align: center; }
  .testimonials a {
    display: block;
    text-decoration: none;
    color: #333; }
  .testimonials span {
    display: block; }
    .testimonials span.avatar {
      position: relative;
      width: 9rem;
      background: #ccc;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.3); }
      .testimonials span.avatar img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .testimonials span.avatar:before {
        display: block;
        content: '';
        padding-top: 100%; }
    .testimonials span.name {
      padding: 0.5rem 0;
      margin-top: 0.5rem;
      font-weight: bold; }
    .testimonials span.jobtitle {
      padding: 0.3rem 0 0.7rem;
      font-style: italic;
      opacity: 0.7; }

section {
  padding: 1rem; }

.home-page {
  background-image: url(http://www.oldbasingarchers.co.uk/wp-content/uploads/slider5.jpg);
  color: #aaa;
  text-align: center;
  margin: 0 auto;
  height: 50vh;
  min-height: 100px;
  padding-top: 5rem; }

.info-bord {
  display: flex;
  justify-content: space-around; }

.lessons, .location {
  width: 65%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem; }

.lessons .item0 {
  grid-area: header; }

.lessons .item1 {
  grid-area: day1; }

.lessons .item2 {
  grid-area: f1; }

.lessons .item3 {
  grid-area: s1; }

.lessons .item4 {
  grid-area: day2; }

.lessons .item5 {
  grid-area: f2; }

.lessons .item6 {
  grid-area: s2; }

.lessons .item7 {
  grid-area: day3; }

.lessons .item8 {
  grid-area: f3; }

.lessons .item9 {
  grid-area: s3; }

.lessons .item10 {
  grid-area: day4; }

.lessons .item11 {
  grid-area: f4; }

.lessons .item12 {
  grid-area: s4; }

.lessons .item13 {
  grid-area: day5; }

.lessons .item14 {
  grid-area: f5; }

.lessons .item15 {
  grid-area: d5; }

.lessons .item16 {
  grid-area: day6; }

.lessons .item17 {
  grid-area: f6; }

.lessons div .schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'header header '
 'day1 f1 s1'
 'day2 f2 s2'
 'day3 f3 s3'
 'day4 f4 s4'
 'day5 f5 s5'
 'day6 f6 s6';
  grid-gap: 5px; }
  .lessons div .schedule div {
    border: 1px solid #888; }

.Shop-page {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center; }
  .Shop-page div {
    border: 1px solid #222;
    margin: 1.5rem;
    width: 27%; }
    .Shop-page div img {
      width: 30%;
      height: auto; }
    .Shop-page div a {
      padding: 1rem; }
  .Shop-page div:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
