header {
    background: #444;
    color: #fff;

    a, li{
        text-decoration: none;
    }

    .site-header{
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        margin: 0 auto;
    }
}
