header {
    padding: 1rem;
    background: #444;
    color: #fff;
    .inner{
        align-items: center;
    }
    a, li{
        text-decoration: none;
    }

    .site-header{
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        margin: 0 auto;
        align-items: center;
        
    }
}
